body {
    background-color: midnightblue;
}
h1 {
    color: snow;
    font-size: 28px;
    font-style: oblique;
}
h1 {
    color: royalblue;
    font-size: 28px;
    font-style: oblique;
    text-align: center;
}
.container {
    margin: 0 auto;
    height: 600px;
    width: 400px;
    border: 3px double black;
    color: #191970; 
    background-color: #F5F5F5;
    font-family: monospace;
}
.user {
    margin: 0 auto;
    text-align: center;
}
.addBtn {
    border-radius: 11px;
    height: 45px;
    width: 45px;
    color: snow;
    font-family: monospace;
    font-size: 17px;
    padding: 0px;
    background-color: #52A600;
    border: 1px double #52A652;
}
.addBtn:hover {
    background-color: limegreen;
    border: none;

}
.remove {
    border-radius: 11px;
    height: 45px;
    width: 75px;
    color: snow;
    font-family: monospace;
    font-size: 17px;
    padding: 0px;
    background-color: #BF0311;
    border: 1px double #BF0311;
}
.remove:hover {
    background-color: red;
    border: none;
}
#myInput {
    border-radius: 11px;
    height: 45px;
    width: 150px;
    border: none;
}
#myInput:hover {
    border: none;
    background-color: #59D4EA;
}
.addBtn:onfocus {
    border: none;
}
ol li {
    /*border: 2px double black;*/
    width: 80%;
    background-color: #1C78F2;
    /*list-style: none;*/
    font-size: 24px;
    border-radius: 11px;
    text-align: center;
    /*float: left;*/
    margin: 0 15px 7px;
    height: 37px;
    padding-top: 10px;
    font-weight: bold;
}
/*.edit {
    float: left;
    border-radius: 9px;
    height: 25px;
    width: 45px;
    color: snow;
    font-family: monospace;
    font-size: 17px;
    padding: 0px;
    background-color: #52A600;
    border: 1px double #52A652;
}*/
.delete {
    float: right;
    border-radius: 9px;
    height: 25px;
    width: 75px;
    color: snow;
    font-family: monospace;
    font-size: 17px;
    padding: 0px;
    background-color: #BF0311;
    border: 1px double #BF0311;
}
.edit:hover {
    background-color: limegreen;
    border: none;
}
.delete:hover {
    background-color: red;
    border: none;
}